- name: Install Flatpak (Debian)
  ansible.builtin.apt:
    name: flatpak
    state: latest
  when: ansible_distribution == "Debian"

- name: Install Flatpak (Fedora)
  ansible.builtin.dnf:
    name: flatpak
    state: latest
  when: ansible_distribution == "Fedora"

- name: Add the flathub flatpak repository remote to the user installation (Debian and Fedora)
  community.general.flatpak_remote:
    name: flathub
    state: present
    flatpakrepo_url: https://dl.flathub.org/repo/flathub.flatpakrepo
    method: user
  become_user: '{{ target_user }}'

- name: Install Flatpak Apps (Debian and Fedora)
  community.general.flatpak:
    name:
      - org.gnome.Extensions
      - com.mattjakeman.ExtensionManager
      - com.spotify.Client
#      - org.qbittorrent.qBittorrent
#      - org.libreoffice.LibreOffice
#      - org.kde.okular
#      - org.videolan.VLC
#      - org.remmina.Remmina
#      - com.brave.Browser
#      - org.mozilla.firefox
#      - io.github.alainm23.planify
#      - org.strawberrymusicplayer.strawberry
    state: latest
  become_user: '{{ target_user }}'
