# EEG
- name: Check if Mamba environment (EEG) exists
  ansible.builtin.shell: |
    source ~/.bashrc && mamba env list | grep -qw eeg
  register: eeg_env_exists
  ignore_errors: true
  become_user: '{{ target_user }}'
  args:
     executable: /bin/bash

- name: Create new Mamba environment (EEG)
  ansible.builtin.shell: source ~/.bashrc && mamba create -n eeg python=3.11 -y
  become_user: '{{ target_user }}'
  when: eeg_env_exists.rc != 0
  args:
     executable: /bin/bash

- name: Install Mamba Python packages (EEG)
  ansible.builtin.shell: source ~/.bashrc && mamba install -n eeg mne igraph mne-connectivity -y
  become_user: '{{ target_user }}'
  when: eeg_env_exists.rc != 0
  args:
     executable: /bin/bash

# ML
- name: Check if Mamba environment (ML) exists
  ansible.builtin.shell: |
    source ~/.bashrc && mamba env list | grep -qw ml
  register: ml_env_exists
  ignore_errors: true
  become_user: '{{ target_user }}'
  args:
     executable: /bin/bash

- name: Create new Mamba environment (ML)
  ansible.builtin.shell: source ~/.bashrc && mamba create -n ml python=3.10 -y
  become_user: '{{ target_user }}'
  when: ml_env_exists.rc != 0
  args:
     executable: /bin/bash

- name: Install Mamba Python packages (ML)
  ansible.builtin.shell: source ~/.bashrc && mamba install -n ml pytorch torchvision torchaudio pytorch-cuda=12.1 transformers sentence-transformers jupyterlab xformers pandas matplotlib kaggle -c xformers -c pytorch -c nvidia -y
  become_user: '{{ target_user }}'
  when: ml_env_exists.rc != 0
  args:
     executable: /bin/bash

- name: Install PIP Python packages (ML)
  ansible.builtin.shell: source ~/.bashrc && mamba activate ml && pip install --upgrade pymilvus pymupdf 
  become_user: '{{ target_user }}'
  when: ml_env_exists.rc != 0
  args:
     executable: /bin/bash

# ROADS
- name: Check if Mamba environment (ROADS) exists
  ansible.builtin.shell: |
    source ~/.bashrc && mamba env list | grep -qw roads
  register: roads_env_exists
  ignore_errors: true
  become_user: '{{ target_user }}'
  args:
     executable: /bin/bash

- name: Create new Mamba environment (ROADS)
  ansible.builtin.shell: source ~/.bashrc && mamba create -n roads python=3.11 -y
  become_user: '{{ target_user }}'
  when: roads_env_exists.rc != 0
  args:
     executable: /bin/bash

- name: Install Mamba Python packages (ROADS)
  ansible.builtin.shell: source ~/.bashrc && mamba install -n roads osmnx graph-tool igraph jupyterlab pandas matplotlib -y
  become_user: '{{ target_user }}'
  when: roads_env_exists.rc != 0
  args:
     executable: /bin/bash

# # TEST
# - name: Check if Mamba environment (TEST) exists
#   ansible.builtin.shell: |
#     source ~/.bashrc && mamba env list | grep -qw test
#   register: test_env_exists
#   ignore_errors: true
#   become_user: '{{ target_user }}'
#   args:
#      executable: /bin/bash

# - name: Create new Mamba environment (TEST) if it doesn't exist
#   ansible.builtin.shell: source ~/.bashrc && mamba create -n test python=3.11 -y
#   become_user: '{{ target_user }}'
#   when: test_env_exists.rc != 0
#   args:
#      executable: /bin/bash

# - name: Install numpy in test (TEST)
#   ansible.builtin.shell: source ~/.bashrc && mamba install -n test numpy -y
#   become_user: '{{ target_user }}'
#   when: test_env_exists.rc != 0
#   args:
#      executable: /bin/bash

#Why grep in quiet mode and what env_exists.rc is doing
#Quiet mode (-q): Instructs grep to not output anything to the terminal. It just sets the return code, which makes it useful for conditional checks.
# Whole word (-w) to match the name of env properly without getting matched with other envs containing the search query, but not existing.
#Return codes:
#    0 if the pattern is found.
#    1 if the pattern is not found.
#    2 if there is an error (e.g., the file doesn't exist).
