- name: Remove GNOME games packages
  ansible.builtin.package:
    name:
      - iagno
      - lightsoff
      - four-in-a-row
      - gnome-robots
      - pegsolitaire
      - gnome-2048
      - hitori
      - gnome-klotski
      - gnome-mines
      - gnome-mahjongg
      - gnome-sudoku
      - quadrapassel
      - swell-foop
      - gnome-tetravex
      - gnome-taquin
      - aisleriot
      - gnome-chess
      - five-or-more
      - gnome-nibbles
      - tali
    state: absent

- name: Remove LibreOffice packages
  ansible.builtin.package:
    name:
      - libreoffice
      - libreoffice-base
      - libreoffice-calc
      - libreoffice-core
      - libreoffice-draw
      - libreoffice-impress
      - libreoffice-math
      - libreoffice-writer
      - libreoffice-gnome
      - libreoffice-common
    state: absent

