- name: Enable non-free repositories (Debian)
  lineinfile:
    path: /etc/apt/sources.list
    regexp: '^deb http://deb.debian.org/debian/ bookworm main'
    line: 'deb http://deb.debian.org/debian/ bookworm main contrib non-free non-free-firmware'
    state: present
  when: ansible_distribution == "Debian"
  notify: apt_update

- name: Enable free repositories (Fedora)
  yum_repository:
    name: rpmfusion-free
    description: rpmfusion-free
    baseurl: 'https://mirrors.rpmfusion.org/free/fedora/rpmfusion-free-release-{{ ansible_distribution_version }}.noarch.rpm'
    state: present
  notify: dnf_update

- name: Enable non-free repositories (Fedora)
  yum_repository:
    name: rpmfusion-nonfree
    description: rpmfusion-nonfree
    baseurl: 'https://mirrors.rpmfusion.org/nonfree/fedora/rpmfusion-nonfree-release-{{ ansible_distribution_version }}.noarch.rpm'
    state: present
  notify: dnf_update
