- name: Download Miniforge installer (Debian and Fedora)
  ansible.builtin.get_url:
    url: https://github.com/conda-forge/miniforge/releases/latest/download/Miniforge3-Linux-x86_64.sh
    dest: /tmp/Miniforge3-Linux-x86_64.sh
    mode: '0755'

- name: Run Miniforge installer (Debian and Fedora)
  ansible.builtin.shell: /tmp/Miniforge3-Linux-x86_64.sh -b -u
  become_user: '{{ miniforge_user }}'

- name: Run Conda init (Debian and Fedora)
  ansible.builtin.shell: ~/miniforge3/bin/conda init
  become_user: '{{ miniforge_user }}'
