- name: Download Miniforge installer (Debian and Fedora)
  ansible.builtin.get_url:
    url: https://github.com/conda-forge/miniforge/releases/latest/download/Miniforge3-Linux-x86_64.sh
    dest: /tmp/Miniforge3-Linux-x86_64.sh
    mode: '0755'

- name: Run Miniforge installer (Debian and Fedora)
  ansible.builtin.shell: /tmp/Miniforge3-Linux-x86_64.sh -b -u
  become_user: '{{ target_user }}'

- name: Run Conda init (Debian and Fedora)
  ansible.builtin.shell: ~/miniforge3/bin/mamba init
  become_user: '{{ target_user }}'

#- name: Create new Mamba environment (MNE)
#  ansible.builtin.shell: source ~/.bashrc && mamba create -n mne mne -y
#  become_user: '{{ target_user }}'

#- name: Create new Mamba environment (Pytorch)
#  ansible.builtin.shell: source ~/.bashrc && mamba create -n pytorch python=3.10 -y
#  become_user: '{{ target_user }}'

#- name: Instal Python packages (Pytorch)
#  ansible.builtin.shell: source ~/.bashrc && mamba install -n pytorch pytorch torchvision torchaudio pytorch-cuda=12.1 transformers sentence-transformers jupyterlab xformers -c xformers -c pytorch -c nvidia -y
#  become_user: '{{ target_user }}'


#- name: Create new Mamba environment (TEST)
#  ansible.builtin.shell: source ~/.bashrc && mamba create -n test python=3.11 -y
#  become_user: '{{ target_user }}'

#- name: Install numpy in test (TEST)
#  ansible.builtin.shell: source ~/.bashrc && mamba install -n test numpy -y
#  become_user: '{{ target_user }}'


