- name: Install misc packages (Debian)
  ansible.builtin.apt:
    name:
      - htop
      - tree
      - rclone
      - python3-pip
      - rsync
      - curl
      - wget
      - aptitude
      - software-properties-common
    state: latest
  when: ansible_distribution == "Debian"

- name: Install misc packages (Fedora)
  ansible.builtin.dnf:
    name:
      - htop
      - tree
      - fastfetch
      - rclone
      - python3-pip
      - rsync
      - curl
      - wget
    state: latest
  when: ansible_distribution == "Fedora"


- name: Download fastfetch (Debian)
  ansible.builtin.get_url:
    url: https://github.com/fastfetch-cli/fastfetch/releases/latest/download/fastfetch-linux-amd64.deb
    dest: /tmp/fastfetch.deb
    mode: '0755'
  when: ansible_distribution == "Debian"

- name: Install fastfetch.deb (Debian)
  ansible.builtin.apt:
    deb: /tmp/fastfetch.deb
    state: present
  when: ansible_distribution == "Debian"
