- name: Install Nvidia Drivers (Debian)
  ansible.builtin.apt:
    name:
      - nvidia-driver
      - firmware-misc-nonfree
    state: latest
  when: ansible_distribution == "Debian"

- name: Install Nvidia Drivers (Fedora)
  ansible.builtin.dnf:
    name:
      - gcc
      - kernel-headers
      - kernel-devel
      - akmod-nvidia
      - xorg-x11-drv-nvidia
      - xorg-x11-drv-nvidia-libs
      - xorg-x11-drv-nvidia-libs.i686
      - xorg-x11-drv-nvidia-cuda
    state: latest
  when: ansible_distribution == "Fedora"

