# Load distro-specific variables
#- include_vars: "{{ ansible_distribution }}.yml"
#  tags: always

- block:
  # Upgrade all installed packages
  - import_tasks: software/github_cli.yml
  - import_tasks: software/misc_packages.yml
  - import_tasks: software/joplin.yml
  - import_tasks: software/flatpak.yml
  - import_tasks: software/vscode.yml
  - import_tasks: software/miniforge.yml
  - import_tasks: software/enable_nonfree.yml
  - import_tasks: software/upgrade_packages.yml
  - import_tasks: software/development_packages.yml
  - import_tasks: software/nvidia_drivers.yml
