# Load distro-specific variables
- include_vars: "{{ ansible_distribution }}.yml"
  tags: always

- block:
  # Import bash aliases
  - import_tasks: system/bash_aliases.yml

  # Cleanup apps
  - import_tasks: software/cleanup_packages.yml

  # Upgrade all installed packages
  - import_tasks: software/upgrade_packages.yml

  # Install gcc, git...
  - import_tasks: software/development_packages.yml

  # Enable non-free repos to install nvidia-drivers
  - import_tasks: software/enable_nonfree.yml
  - import_tasks: software/nvidia_drivers.yml

  # Install miniforge and setup python envs (mne, pytorch)
  - import_tasks: software/miniforge_base.yml

  # Install Github cli for easy management
  - import_tasks: software/github_cli.yml

  # Install misc packages like htop, fastfetch...
  - import_tasks: software/misc_packages.yml

  # Install point-to-point Tailscale vpn
  - import_tasks: software/tailscale.yml

  # Install cron and enable cron daemon
  - import_tasks: system/cron.yml
