# Load distro-specific variables
#- include_vars: "{{ ansible_distribution }}.yml"
#  tags: always

- block:
  # Upgrade all installed packages
  - import_tasks: software/upgrade_packages.yml
  - import_tasks: software/development_packages.yml
  - import_tasks: software/nvidia_drivers.yml
