- name: Ensure .bashrc exists
  ansible.builtin.file:
    path: ~/.bashrc
    state: touch
    mode: '0644'
  run_once: true
  become_user: '{{ target_user }}'

- name: Add alias for fastfetch
  ansible.builtin.lineinfile:
    path: ~/.bashrc
    line: 'alias ff="fastfetch"'
    state: present
  run_once: true
  become_user: '{{ target_user }}'

- name: Add alias for Visual Studio Code
  ansible.builtin.lineinfile:
    path: ~/.bashrc
    line: 'alias vsc="code . && exit"'
    state: present
  run_once: true
  become_user: '{{ target_user }}'

- name: Add alias for Cloudflare Warp connect
  ansible.builtin.lineinfile:
    path: ~/.bashrc
    line: 'alias wc="warp-cli connect"'
    state: present
  run_once: true
  become_user: '{{ target_user }}'

- name: Add alias for Cloudflare Warp disconnect
  ansible.builtin.lineinfile:
    path: ~/.bashrc
    line: 'alias wd="warp-cli disconnect"'
    state: present
  run_once: true
  become_user: '{{ target_user }}'

- name: Add alias for Cloudflare Warp status
  ansible.builtin.lineinfile:
    path: ~/.bashrc
    line: 'alias ws="warp-cli status"'
    state: present
  run_once: true
  become_user: '{{ target_user }}'

- name: Exporting Nano as the default EDITOR
  ansible.builtin.lineinfile:
    path: ~/.bashrc
    line: 'export EDITOR=nano'
    state: present
  run_once: true
  become_user: '{{ target_user }}'

- name: Add alias for updating packages (Debian)
  ansible.builtin.lineinfile:
    path: ~/.bashrc
    line: 'alias dup="sudo apt update && sudo apt upgrade"'
    state: present
  run_once: true
  become_user: '{{ target_user }}'
  when: ansible_distribution == "Debian"

- name: Add alias for cleaning up packages (Debian)
  ansible.builtin.lineinfile:
    path: ~/.bashrc
    line: 'alias dc="sudo apt autoremove"'
    state: present
  run_once: true
  become_user: '{{ target_user }}'
  when: ansible_distribution == "Debian"

- name: Add alias for updating packages (Fedora)
  ansible.builtin.lineinfile:
    path: ~/.bashrc
    line: 'alias fup="sudo dnf upgrade"'
    state: present
  run_once: true
  become_user: '{{ target_user }}'
  when: ansible_distribution == "Fedora"

- name: Add alias for cleaning up packages (Fedora)
  ansible.builtin.lineinfile:
    path: ~/.bashrc
    line: 'alias fc="sudo dnf autoremove"'
    state: present
  run_once: true
  become_user: '{{ target_user }}'
  when: ansible_distribution == "Fedora"
