- name: system setup | cron | install cron package
  tags: packages,cron
  ansible.builtin.package:
    name:
      - "{{ cron_package }}"
    state: latest

- name: system setup | cron | start and enable cron daemon
  tags: cron
  ansible.builtin.systemd_service:
    name: "{{ cron_service }}"
    state: started
    enabled: true
